/* git add * (nom arxiu)
  git commit -m "comentari"

  git push
*/

body {
    font-family: "Poppins";
}

.screen {

    padding-left: 30px;
    padding-right: 30px;
}

/* Register */

.reg_row {
  display: flex;
  justify-content: center;
}

.reg_opt {

  width: 100%;
  margin-left: 5px;
  margin-right: 5px;

}

/* Match */

.boton-x {
  width: 60px;
  height: 60px;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  color: #fff; /* Blanco */
  font-size: 24px;
  font-weight: bold;
  transition: background-color 0.3s; /* Transición para hover */
}

.boton-x::before,
.boton-x::after {
  content: '';
  position: absolute;
  width: 3px;
  background-color: #fff;
  height: 24px;
  border:none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.boton-x::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.boton-x::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.boton-check {
width: 60px;
height: 60px;
border: none;
outline: none;
cursor: pointer;
position: relative;
overflow: hidden;
border-radius: 50%;
color: #fff; /* Blanco */
font-size: 24px;
font-weight: bold;
transition: background-color 0.3s; /* Transición para hover */
}

.boton-check::before,
.boton-check::after {
content: '';
position: absolute;
width: 3px; /* Ajusta el ancho del trazo */
background-color: #fff; /* Color del trazo */
top: 50%;
left: 20%; /* Ajusta la posición del trazo */
}

.boton-check::before {
height: 12px; /* Ajusta la longitud del primer trazo */
transform: rotate(-45deg); /* Rotar para formar el primer trazo del check */
top: 47%; /* Ajusta la posición vertical del segundo trazo */
left: 35%;
}

.boton-check::after {
height: 22px; /* Ajusta la longitud del segundo trazo */
transform: rotate(45deg); /* Rotar para formar el segundo trazo del check */
top: 33%; /* Ajusta la posición vertical del segundo trazo */
left: 53%; /* Ajusta la posición horizontal del segundo trazo */
}

/* Location search */

.city_button {

  width: 100%;
}

.flag_icon {

  border-radius: 10px;
  padding-left: 5px;
}

/* Others */

.event_card {
  background-color: #ffffff;
  border-radius: 10px;
  width: 100%;
  border: 1px solid lightgray;
  padding-bottom: 5px;
}

.image_container {
  position: relative;
}

.event_image {
  border-radius: 5px 5px 0px 0px;
  width: 100%;
}

.event_category_chip {
  color: white;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.23);
  padding: 3px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 20px;
  width: max-content;
  height: max-content;
  font-size: 12px;
  white-space: nowrap;
}

.event_users {
  position: absolute;
  bottom: -10px;
  right: 10px;
}

.event_details {
  padding-left: 15px;
}

.event_title {
  font-size: 20px;
  margin-bottom: 5px;
  margin-top: 15px;
}

.event_date,
.event_hour {
  color: gray;
  font-size: 11px;
  display: inline-block;
  margin-bottom: 10px;
}

.time_icon,
.date_icon {
  color: gray;
  font-size: 16px;
  vertical-align: middle;
}